<!-- <div class="user-name"> -->
	<%#= comment.user.username %>
	<div class="comment content">
		<span class="user-name"> <%= link_to comment.user.username, profile_path(comment.user.username) %> </span>:: <%= comment.content %>
		<% if comment.user ==  current_user %>
			<div style="float: right">
				<%= link_to '', picture_comment_path(picture, comment), remote: true, class: "glyphicon glyphicon-remove", method: :delete, data: { confirm: "Are you sure ??" } %> 
			</div>
		<% end %>
	</div>
<!-- </div> -->















