<div class="posts-wrapper row">
	<% @pictures.each do | picture | %>
		<%= render 'picture', picture: picture %>
	
   	<% end %>
   	<div class="text-center">
   		<%= paginate @pictures %><br />
   		<%= link_to "Back", root_path %>
   	</div>
</div>


     








