
<%= render 'picture', picture: @picture %>
   <div class="text-center edit-links">
   		<%= link_to "Back", root_path %>
   			<% if current_user == @picture.user %>
		   		||
		   		<%= link_to "Edit", edit_picture_path(@picture) %>
		   		||
		   		<%= link_to "Delete", picture_path(@picture), method: :delete, data: { confirm: "Are you sure ??" } %>
	   		<% end %>
   	</div>

